<template>
  <div id="app">
    <div class="app-container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
    export default {
      data: function () {
        return {
        }
      },
      methods: {
      }
    }
</script>

<style lang="scss">
  *{
    font-family: "MElleHK", "Microsoft JhengHei";
    box-sizing: border-box;
  }
  html,body{
    width: 100%; height: 100%;
    margin: 0;
    padding: 0;
  }
  button{
    background-color: transparent;
    border: none;
    color: white;
    &:focus{
      outline: none;
    }
  }
  ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #app {
    width: 100%; height: 100%;
  }
  .app-container{
    width: 100%; height: 100%;
    color: white;
  }
</style>
