<template>
    <div class="info-form backdrop">
        <div class="backdrop"></div>
        <div class="content">
        <p>感謝您參與我們的測驗，請留下您的聯絡資訊，我們將會寄送照片至您的信箱。</p>
            <dl>
            <dt>姓名</dt>
            <dd><input type="text" v-model="name"></dd>
            <dt>電話</dt>
            <dd><input type="text" :value="phone" @input="phoneInputHandler"></dd>
            <dt>Email</dt>
            <dd><input type="text" v-model="email"></dd>
            </dl>
            <button class="btn" @click="submitHandler">確認送出</button>
            <button class="btn" @click="restartHandler">重新測試</button>
        </div>
    </div>
</template>
<script>
    export default {
      data() {
        return {
          name: '',
          phone: '',
          email: ''
        }
      },
      methods: {
        phoneInputHandler(e) {
          let val = e.target.value;
          if (!/^[0-9]*$/.test(val)) {
            e.target.value = this.phone;
            return;
          }
          this.phone = val;
        },
        submitHandler(e) {
          const { name, phone, email } = this;
          if (name && phone && email) {
            alert('done!');
          } else {
            alert('請填入您的聯絡資訊。');
          }
        },
        restartHandler(e) {
          this.$MyStore.resetStore();
          this.$router.push('/');
        }
      }
    }
</script>

<style lang="scss" scoped>
    .info-form{
      display: flex;
      align-items: center;
      justify-content: center;
      &.backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: rgba(	203, 101, 38, .8);
      }
      .content{
        background-color: white;
        color: #d46724;
        padding: 1rem;
        max-width: 312px;
        font-size: 18px;
      }
      dl{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: .5rem 0;
      }
      dt,dd{
        display: inline-block;
        margin: 0;
        margin-bottom: 1rem;
      }
      dt{
        width: 20%;
      }
      dd{
        margin-left: auto;
        input{
          padding: .5rem;
          line-height: 1;
          border: 1px solid #d46724;
        }
      }
      .btn{
        background-color: #d46724;
        width: 100%;
        padding: 1rem;
        margin: .5rem 0;
        cursor: pointer;
      }
    }
</style>
