<template lang="html">
  <section class="quiz">
    <div class="start-view" v-if="status == START_MODE">
      <div class="cup-bg-wrap">
        <button class="start-btn" type="button" name="button" @click="startClickHandler">開始測驗</button>
      </div>
    </div>
    <div class="quiz-container">
      <div v-if="status == QUIZ_MODE">
        <div class="quiz__desc">
          {{ (index + 1) + '.' + desc}}
        </div>
        <ul class="quiz__ans">
          <li v-for="item in answers">
            <button type="button" class="ans__btn" name="button" @click="ansClickHanlder($event, item.directTo)">{{item.text}}</button>
          </li>
        </ul>
      </div>
      <div class="quiz-result" v-if="status == RESULTS_MODE && ansType">
        <div class="type-img">
          <img src="" alt="">
        </div>
        <div class="type-name">
          {{result + '型：' + ansType.name}}
        </div>
        <div class="type-content">
          {{ansType.content}}
        </div>
      </div>
      <button class="next-btn" v-if="status == RESULTS_MODE" @click="nextClickHandler"></button>
      <div class="next-popup" v-if="nextPopup" @click.self="popupCloseHandler">
        <router-link to="/snapshot" tag="button" class="popup-btn">立即拍照</router-link>
        <button type="button" class="popup-btn" name="button" @click="restartHandler">重新測驗</button>
      </div>
    </div>
  </section>
</template>

<script>
  import { questions, types } from 'src/js/data.js';
  const START_MODE = Symbol('start'),
    QUIZ_MODE = Symbol('quiz'),
    RESULTS_MODE = Symbol('result');
  export default {
    props: ['foreground'],
    data() {
      return {
        START_MODE,
        QUIZ_MODE,
        RESULTS_MODE,
        status: START_MODE,
        index: 0,
        result: '',
        questions,
        types,
        nextPopup: false
      }
    },
    computed: {
      desc: function () {
        const { questions, index } = this;
        return questions[index] ? questions[index].desc : '';
      },
      answers: function () {
        const { questions, index } = this;
        return questions[index] ? questions[index].answers : '';
      },
      ansType: function () {
        const { types, result } = this;
        return types[result] ? types[result] : null;
      }
    },
    methods: {
      startClickHandler(e) {
        this.status = QUIZ_MODE;
      },
      ansClickHanlder(e, next) {
        if (isNumeric(next)) {
          this.index = next - 1;
        } else {
          this.$MyStore.state.fgType = next;
          this.result = next;
          this.status = RESULTS_MODE;
        }
      },
      nextClickHandler() {
        this.nextPopup = true;
      },
      popupCloseHandler() {
        this.nextPopup = false;
      },
      restartHandler() {
        this.index = 0;
        this.nextPopup = false;
        this.status = START_MODE;
        this.$MyStore.state.fgType = '';
      }
    }
  }
  function isNumeric(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
  }
</script>

<style lang="scss" scoped>
  .quiz{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c76f28;
  }
  .start-view{
    background-image: url('assets/img/quiz/pattern.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .quiz-container{
    width: 90%;
    margin: 0 auto;
  }
  %fontSize-lg{
    font-size: 22.5px;
  }
  %fontSize-md{
    font-size: 18px;
  }
  .quiz__desc{
    @extend %fontSize-lg;
    margin-bottom: 5rem;
  }
  .cup-bg-wrap{
    background-image: url('assets/img/quiz/start_cup.png');
    background-size: 305px;
    width: 305px;
    height: 333.5px;
    position: relative;
  }
  .start-btn{
    position: absolute;
    background-color: #531d07;
    padding: .8rem 1.6rem;
    letter-spacing: 5px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px rgba(83,29,7,.7);
    position: absolute;
    bottom: 25%;
    left: 20%;
    cursor: pointer;
  }
  .ans__btn{
    @extend %fontSize-md;
    border: 2px solid white;
    padding: 1rem;
    width: 100%;
    margin: .5rem 0;
    cursor: pointer;
    user-select: none;
    &:active{
      background-color: white;
      color: #c76f28;
    }
  }
  .type-name{
    @extend %fontSize-lg;
    text-align: center;
    margin-bottom: 1rem;
  }
  .type-content{
    @extend %fontSize-md;
  }
  .next-btn{
    width: 90px;
    height: 45px;
    position: fixed;
    overflow: hidden;
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      border: solid #c76f28;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 8px;
      transform: rotate(45deg);
      z-index: 1;
      top: 40%;
      left: 40%;
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 200%;
      background-color: white;
      border-radius: 100%;
      top: 0%;
      left: 0;
    }
  }
  .next-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 111, 40,.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  .popup-btn{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: rgb(199, 111, 40);
    margin: 1rem;
    padding: 1.5rem;
    font-size: 20px;
    cursor: pointer;
    transition: transform 100ms ease-in;
    &:hover{
      transform: scale(1.3);
      transition: transform 200ms ease-in;
    }
  }
</style>
