<template>
    <div class="snapshot-container">
        <div class="video-container">
            <video autoplay="true" id="video" style="display: none;" muted></video>
            <canvas id="srcCanvas"></canvas>
            <img id="result" v-if="status !== STATUS_READY">
            <div class="cover"></div>
        </div>
        <div id="countdown" class="countdown-ani" v-if="status === STATUS_COUNTDOWN" ref="countdownAni"></div>
        <div :class="'control-panel ' + status">
          <div class="control-options">
            <transition name="scale">
              <div v-if="status === STATUS_READY" class="btn-wrapper">
                <button id="snap" class="snap-btn" @click="snap"></button>
              </div>
            </transition>
          </div>
        </div>
        <InfoForm v-if="status === STATUS_SEND"></InfoForm>
    </div>
</template>
<script>
    import InfoForm from './InfoForm.vue';
    const STATUS_READY = 'STATUS_READY',
        STATUS_COUNTDOWN = 'STATUS_COUNTDOWN',
        STATUS_SEND = 'STATUS_SEND',
        videoComposer = (function () {
          return {
            _seriously: null,
            fgImg: null,
            width: 0,
            height: 0,
            formatSetting: function (options) {
              let reformat = this._seriously.transform('reformat');
              for (var attr in options) {
                reformat[attr] = options[attr];
              }
              return reformat;
            },
            destroy: function () {
              let seriously = this._seriously;
              if (seriously) {
                seriously.destroy();
                this._seriously = null;
              }
            },
            goSeriously: function () {
              let seriously = this._seriously || new Seriously(),
                  srcReformat,
                  imgReformat,
                  target,
                  source,
                  layers;
              if (!this._seriously) {
                this._seriously = seriously;
                seriously._source = seriously.source(video);
                seriously._target = seriously.target('#srcCanvas');
              }
              layers = seriously.effect('layers');

              source = seriously._source;
              target = seriously._target;

              target.width = this.width;
              target.height = this.height;

              srcReformat = this.formatSetting({
                width: target.width,
                height: target.height,
                mode: 'cover'
              });
              srcReformat.source = source;

              if (this.fgImg) {
                imgReformat = this.formatSetting({
                  width: target.width,
                  height: target.height,
                  mode: 'cover'
                });
                imgReformat.source = this.fgImg;
              }

              layers.source0 = srcReformat;

              if (this.fgImg) {
                layers.source1 = imgReformat;
              }

              target.source = layers;
              seriously.go();
            }
          }
        } ());
    let video,
        sourceCanvas;
    export default {
      data () {
        return {
          STATUS_READY,
          STATUS_COUNTDOWN,
          STATUS_SEND,
          status: STATUS_READY,
          countdown: 3,
          sourceDataURL: '',
        }
      },
      components: {
        InfoForm
      },
      mounted: function () {
          video = document.getElementById('video');
          /**
          *   若打算在非https或 localhost路徑下的 chrome瀏覽器 中使用 navigator.mediaDevice 這個api需要先在
          *   chrome://flags/#enable-experimental-web-platform-features 開啟實驗性 Web Platform 功能後才能使用
          **/
          sourceCanvas = document.getElementById('srcCanvas');

          if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } })
            .then((stream) => {
              video.srcObject = stream;
              video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
              video.play();

              this.resizeHandler(true);

            }, (err) => {
              alert(err);
              this.$router.push('/');
            });
          } else {
            alert('This device does not support getUserMedia!');
          }
          window.addEventListener('resize', this.resizeHandler.bind(this));
      },
      methods: {
        resizeHandler: function (e) {
          // 使用 16:9
          let innerWidth = window.innerWidth,
              innerHeight = window.innerHeight,
              isHorizon = innerWidth > innerHeight,
              ratioVertical = isHorizon ? 0.56 : 1.78,
              ratioHorizon = isHorizon ? 1.78 : 0.56;
          if (innerHeight * ratioHorizon > innerWidth) {
            innerHeight = Math.floor(innerWidth * ratioVertical);
          }
          if (innerWidth * ratioVertical > innerHeight) {
            innerWidth = Math.floor(innerHeight * ratioHorizon);
          }

          if (this.status == 'STATUS_READY') {
            videoComposer.width = innerWidth;
            videoComposer.height = innerHeight;
          }
          if (e) {
            let imgType = isHorizon ? this.$MyStore.state.fgType + '_hz' : this.$MyStore.state.fgType;
            imageLoader('assets/img/foreground/type_' + imgType + '.png')
            .then((img) => {
              videoComposer.fgImg = img;
              videoComposer.goSeriously();
            });
          }
        },
        // 倒數時間動畫結束後執行s
        aniEnd: function (e) {
          if (this.status == STATUS_COUNTDOWN) {
            video.pause();
            videoComposer.destroy();

            // 擷取靜態圖檔
            this.sourceDataURL = sourceCanvas.toDataURL();
            this.status = STATUS_SEND;
            // 快門效果
            $('.video-container .cover').addClass('shoot');
            $('#result').attr('src', this.sourceDataURL);
            $('#srcCanvas').addClass('snapped');
            this.status = STATUS_SEND;
          }
        },
        // 拍照
        snap: function (e) {
          if (this.status != STATUS_COUNTDOWN) {
            this.status = STATUS_COUNTDOWN;
            this.$nextTick(function () {
                let $countdownAni = $(this.$refs.countdownAni);
                // 開始倒數動畫
                $countdownAni.addClass('countdown-ani-active')
                .one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function () {
                  $countdownAni.removeClass('countdown-ani-active');
                  this.aniEnd();
                }.bind(this));
            });
          }
        },
        // 重拍按鈕的監聽
        retake: function (e) {
          video.setAttribute('playsinline', true);
          video.play();
          $('.video-container .cover').removeClass('shoot');
          $('#srcCanvas').removeClass('snapped');
          this.status = STATUS_READY;
          this.resizeHandler(true);
        }
      }
    }
    function imageLoader(src) {
      let img = new Image();
      img.src = src;
      return new Promise(function (resolve, reject) {
        // 沒有前景或背景的狀況下
        if (!src) {
          return reject('need image source url!');
        }
        $(img).on('load', function () {
            $(img).off('load');
            resolve(img);
        });
      })
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .snapshot-container{
        height: 100%;
        background: black;
        position: relative;
        display: flex;
        flex-direction: column;
        .snapshot-header{
          padding: 1rem 0;
          color: #fff;
          text-align: center;
          font-family: 'Microsoft JhengHei';
          font-size: 20px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1;
        }
    }
    .video-container{
        height: 100%;
        overflow: hidden;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .cover{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background-color: white;
          opacity: 0;
          &.shoot{
            animation: shoot 500ms;
          }
          @keyframes shoot{
            0%{
              opacity: 1;
            }
            100%{
              opacity: 0;
            }
          }
        }
    }
    #result{
        pointer-events: none;
        display: block;
    }
    #video{
        display: block;
        position: absolute;
    }
    .logo-canvas{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      margin: 0 auto;
      &.snapped{
          display: none;
      }
    }
    #srcCanvas.snapped{
        display: none;
    }
    .control-panel{
        width: 100%;
        text-align: center;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        z-index: 10;
        flex: none;
        height: 147px;
        &.STATUS_COUNTDOWN{
          height: 0;
        }
        &.STATUS_CHECK,
        &.STATUS_EFFECT{
          background-color: white;
          box-shadow: 0 -5px 5px -5px #333;
          position: relative;
          transition: height 400ms 300ms;
        }
        .btn-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
        button{
          border: none;
          background-color: transparent;
          &:active,
          &:focus{
            outline: 0;
          }
        }
    }
    %btn-tmpl{
      border-radius: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .snap-btn,
    .retake-btn{
      @extend %btn-tmpl;
        width: 80px;
        height: 80px;
        background-image: url(assets/img/icon/snap.png);
    }
    .retake-btn{
      @extend %btn-tmpl;
      width: 60px;
      height: 60px;
    }
    .snap-btn:active,
    .retake-btn:active{
        background-size: 90%;
    }
    .control-options{
      width: 100%;
      height: 100%;
    }
    /* transition: scale */
    .scale-enter-active{
      transition: transform 300ms ease-in;
    }
    .scale-leave-active{
      transition: transform 200ms ease-out;
    }
    .scale-enter-active,
    .scale-leave-active{
      transform: scale(1);
    }
    .scale-enter,
    .scale-leave-to{
      transform: scale(.1);
    }
    /* 倒數計時的動畫 */
    #countdown{
        width: 150px; height: 150px;

        position: absolute;
        top: 0px;
        bottom: 0px;
        margin: auto;
        left: 0;
        right: 0;

        font-size: 100px;
        font-family: "Microsoft JhengHei";
        color: white;

        opacity: 0;
        z-index: 10;
    }
    #countdown span{
        top: -5px;
        border: none;
    }
    .countdown-ani{
        background-color: #531d07;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        box-shadow: 0px 0px 100px #32140e;
        animation-fill-mode: forwards;
    }
    .countdown-ani:before{
        content: '321';
        font-size: 75px;
        // font-weight: bolder;
        color: white;
        font-family: 'Microsoft JhengHei';
        display:inline-block;
        width: 1ch;
        overflow:hidden;
        animation-fill-mode: forwards;
    }
    .countdown-ani-active:before{
      animation: countdowns 3s steps(3);
    }
    .countdown-ani-active {
      animation: scaleout 3s ease-in-out;
    }
    @keyframes countdowns {
      0%{
        text-indent:0;
      }
      100% {
        text-indent:-3ch;
      }
    }
    @keyframes scaleout{
        0%{
          transform: scale(0.0);
        }
        32%{
          transform: scale(1);
          opacity: 1;
        }
        33%{
          transform: scale(0.1);
          opacity: 0;
        }
        65%{
          transform: scale(1);
          opacity: 1;
        }
        66%{
          transform: scale(0.1);
          opacity: 0;
        }
        100%{
          transform: scale(1);
          opacity: 1;
        }
    }
</style>
